anyio
click
fastapi
h11
httptools
idna
pydantic
python-dotenv
PyYAML
sniffio
starlette
typing_extensions
uvicorn
watchfiles
websockets
requests
bs4
selenium
webdriver_manager
urllib3
Pillow
packaging
lxml
